.favorite{
    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        .card{
            width: 260px;
            img{
                width: 100%;
            }
            h5{
                font-size: 0.8rem;
            }
         
        }
    }
}