.footer{
    height: 50vh;
    background-color: #F5F5F5;
    border-radius: 5px;
    
    .parent{
        .Rushi{
            color: #83B4FF;
        }
        
        

        .child{
            gap: 10px;
            
        }
    }

}